
/* BODY Styling */

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color: seashell;
  text-align: center;
}


/* HEADER Styling */

header {
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 10;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  padding-left: 10px;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  text-decoration: underline;
  padding: 0 10px;
}

header nav ul li a {
  color: seashell;
}


/* MISSION SECTION Styling */

section#mission {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  background-image: url(../img/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
}

section#mission div {
  width: 100%;
  background-color: black;
}


/* FEATURED TEA SECTION Styling */

section#featured-tea {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

section#featured-tea div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  width: 300px;
  margin: 15px;
}

figure img {
  width: 300px;
  height: 200px;
  padding-bottom: 10px;
}

figure figcaption {
  font-weight: bold;
}


/* LOCATIONS SECTION Styling */

section#locations {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  background-image: url(../img/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  margin-top: 70px;
}

section#locations h2 {
  padding-top: 60px;
  padding-bottom: 15px;
}

section#locations div {
  display: flex;
  justify-content: center;
}

section#locations div div {
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section#locations div div h3 {
  margin: 0;
}


/* FOOTER Styling */

footer div {
  height: 200px;
}

footer > h5 {
  text-align: left;
  margin-left: 20px;
}